
<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
  


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg');height: 600px;">
    <div class="col-md-12">
        <div class="container" id="sign-card" style="padding-left: 20px; padding-right: 20px;">

            <div>
                <h3 class="form-title">Forgot Password?</h3>
            </div>    
    
    
            <form class="ps-form--signin" action="/forgot-password" method="post">
                <div>  
                  <%if(locals.display) {%>
                    <h2 id="invalid_error" hidden>error</h2>
                    <% if(locals.emailInvalid){ %>
                        <div class="alert alert-danger alert-dismissible">
                            <strong style="text-align: center;color:red;">enter a valid email address</strong>
                        </div>
                    <% } %>
                    <% if(locals.emailNotFound){ %>
                            <div class="alert alert-danger alert-dismissible">
                                <strong style="text-align: center;color:red;">Email not found! Enter a valid Email.</strong>
                              </div>
                    <% }else{ %>
                    <% if(!locals.emailSent){ %>
                        <div class="alert alert-success" role="alert">
                            <strong>Password reset link has been sent your email</strong>
                        </div>
                    <% }else{%>
                        <div class="alert alert-success" role="alert">
                            <strong>Password reset link has been sent your email</strong>
                        </div>
                    <% } %>
                <% } } %>
                </div>


                <p style="display: none;" id="forgot-password_note">Enter your email and we will send you a link to reset your<br> password</p>
                <div class="ps-form__content">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email"
                            required="required" />
                    </div>
                    
                </div>
               
                <div class="ps-form__footer">
                    <button type="submit"  id="btnsend" name="btnsend"class="ps-btn ps-btn--fullwidth create-account-button">Send Email</button>
                    
                </div>
            </form>
        </div>
    </div>
  
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/jscontroller/forgotpassword.js"></script>

<%include ../layout/footer-public.ejs %>