<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg'); padding-bottom: 150px;">
    <div class="col-md-12">
            <div class="container" id="sign-card" style="padding-left: 20px; padding-right: 20px;">
        
            <% if(!locals.correct){ %>
                <div class="alert alert-danger" role="alert">
                    <strong id="resetInvalidDisplay">Invalid token</strong>
                </div>
                <div class="mt-5 mb-5">
                    <p class="" style="margin-bottom: 5px;"> Invalid Token?<a href="/forgot-password">   Click to Resend Email</a></p>
                </div>
            <% }else{%>
                <form class="ps-form--signin" action="" method="post">
                    <div id="hide4">
                        <h3 class="form-title">Reset Password</h3>
                        <p>Resetting your password will log you out of all devices you<br> have previously used to log in</p>
                    </div>
                    <div class="">
                        <div class="alert alert-danger alert-dismissible mb-4" id="reset_error" style="display: none; font-size: 15px; text-align: center; "></div>
                    </div>
                    <div class="">
                        <div class="alert alert-success alert-dismissible mb-4" id="success_response" style="display: none; font-size: 15px; text-align: center; " >Password Reset Successful</div>
                    </div>
                    <div class="row form-group" id="hide1">
                        <div class="col-md-12">
                            <input type="email" name="email" id="email" value="<%=locals.email%>" class="form-control input-lg" placeholder="Email Address" tabindex="1" required hidden />
                                <input type="password" autocomplete="off" name="password" onpaste="return false;" id="password" class="form-control input-lg" placeholder=" New Password" tabindex="5" title="Password must contain at least 8 characters, including UPPER/lowercase and numbers"
                                pattern="(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&])[\w!@#$%^&]{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" required/>    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                              
                                <div id="strengthMessage"></div>      
                        </div>      
                    </div>
                    <div class="form-group" id="hide2">
                                <input type="password" autocomplete="off" name="conpassword" onpaste="return false;" id="conpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="8"
                                       title="Please enter the same Password as above"  pattern="(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&])[\w!@#$%^&]{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                       if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" required/>
                                       <span toggle="#conpassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="ps-form__footer" id="hide3">
                        <input type="submit" value="Reset" id="btnreset" name="btnreset" class="ps-btn ps-btn--fullwidth ps-btn--gradient">
                    </div>
                </form>
            <% } %>
            </div>

     </div>       
        
</div>

<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/jscontroller/passwordreset.js"></script>


<%include ../layout/footer-public.ejs %>