<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-lg-5 mb-5" style="margin: auto;">
                <form action="#" method="post" class="p-5 bg-white">
                    <h3 class="form-title" style="margin-top: 0px;">Email sent</h3>
                    <p>We have sent you the link to reset your password. Kindly <br>check your mail.</p><br>
                    <p id="btnResendLink" style="display: none;">Email not received? Check your spam or<a href="/resend-password-link" id="resend_link" > click here</a> to provide your mail again</p>
                    <div class="countdown" style="display: none;"></div>
                </form>
            </div>    
        </div>
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/jscontroller/resetpassword.js"></script>

<%include ../layout/footer-public.ejs %>