<% include ../layout/header-public.ejs %>
<% include ../layout/menu-sign-up.ejs %>



<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); padding-bottom:31px ;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-lg-5 mb-5" style="margin: auto;">
                <form action="#" method="post" class="p-5 bg-white">
                    <h3 class="form-title">Verify Your Account</h3>
                    <p>You're almost done! An email has been sent to you. Check<br> your inbox and follow the confirmation link to<br> verify  your account.</p><br>
                    <p>Email not received? Check your spam or<a href="/send-verification"> click here</a> to resend</p>
                </form>
            </div>    
        </div>
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>


<%include ../layout/footer-public.ejs %>