<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); ">
    <div class="container" style="padding:83px;">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-5 mb-5" style="margin: auto;">
                <h3 id="sign-up-success" hidden>success</h3>
                <form action="#" method="post" class="p-5 bg-white">
                    <%if(verify === "success"){%>
                        <%   if(page === "verify"){ %>
                            <h3 hidden id="verify">verify</h3>
                      <%  } %>
                        <img src="../../vendors/img/Icon feather-check-circle.png" style="width: 30px;height: 30px;">
                        <h3 class="form-title" style="margin-bottom: 10px;">Account Verification Successful</h3>
                        <p style="text-align: center;">You're all set! Log in now to experience the best <br>of all that Connect offers.</p><br>
                        <a href="/login">
                            <p name="login-user" class="ps-btn ps-btn--fullwidth create-account-button">Log In</p>
                        </a>   
                    <% }else{ %>
                        <h4 style="text-align: center;font-weight: bold;">Error</h4>
                        <p style="text-align: center;"><%=verify%></p>
                    <% } %>
                </form>
            </div>    
        </div> 
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/jscontroller/signup.js"></script>

<%include ../layout/footer-public.ejs %>