
<div class="container-fluid mb-4 ">
    <div class="row mb-5" id="show-experience" style="display: none;">
        <div class="col-lg-8 col-md-8">

    
            <div class="accordion" id="accordionExample">
                <div class="card">
    
                    <div class="card-header bg-white mt-3" id="ViewExperience">
                        <div class="">
                            <div class="alert alert-success alert-dismissible mt-4" id="exp_success_msg" style="display: none; font-size: 15px; text-align: center; width: fit-content; " >Experience saved successfully.</div>
                        </div>
    
                        <button class="btn btn-link btn-block text-left" style="text-decoration: none; outline: none; " type="button" data-toggle="collapse" data-target="#collapseViewExp" aria-expanded="true" aria-controls="collapseViewExp">
                            <div class="row justify-content-between education-profile">
                                <div>
                                    <h3 class="edu">Experience</h3>
                                </div>
    
                                
                              
    
                                <div>
                                    <i class="fa fa-angle-down text-muted profile-caret" style="font-size: 40px;"></i>
                                </div>
                            </div>
                          </button>
                        
                    </div>
    
                    <div id="collapseViewExp" class="collapse" aria-labelledby="ViewExperience" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body">
                         
                                <input type="text" value=""  id="ExperienceId" hidden>
        
                                <div class="card mb-3 show-delete-button " style="box-shadow: none; border: none;">
        
                                    <div class="card-body viewing-education ">
                                        <div class="row  ">
                                            
        
                                            <div class="profile-uni-details">
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="exp_comp" style="font-size: 20px;"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="exp_postion" style="font-size: 20px;"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="exp_location" style="font-size: 20px;"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="exp_date" style="font-size: 20px;"></span>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
        
                                        <div class="row justify-content-end">
                                            <i class="fa fa-edit mr-3 mt-3 show-delete" id="faExpEdit"></i>
                                            <span id="btndelExp"></span>
                                        </div>
                                    </div>
                                </div>
    
        
                                <!-- <div class="card-footer bg-white">
                                    <div class="row justify-content-center  mt-3">
                                        <h5 class="edu-icon" style="color: #0c4767; font-size: 20px; font-weight: 400; cursor: pointer;">Add new experience</h5>
                                    </div>
                                </div> -->
                                
                
                            </div>
                        </div>
                    </div>
                       
                </div>
            </div>
            
    
    
    
    
        <div class="col-md-3">
            
        </div>
    
    </div>
    </div>
</div>


