

                    <div class="card-body" id="free-profile-view" style="display: none;">

                      


                        <div class="profile-details-arrange mt-3">

                            
                                <div class="row justify-content-between mt-5">
                                    <div>
                                        <h3 class="name" style="font-weight: 600;" id="view_name"></h3>
                                    </div>

                                    <div class="">
                                        <button class="btn edit-profile-button mb-4" id="editProfileButton" >Edit Profile</button>
                                    </div>
                                </div>

                                
        
                            
                                <div class="row">
                                    <div>
                                        <h4 class="profile-job-title mb-3" style="font-weight: 600;"  id="view_jobtitle"></h4>
                                    </div>
                                </div>
        
                                <div class="row mb-3 justify-content-start">

                                    <div class="row pr-5 pl-4">

                                        
                                            <div>
                                                <h5 style=" font-size: 18px;"><span class="badge badge-danger" >4.0</span></h5>
                                            </div>
    
                                            <div class="mt-1 ml-3" style="color: #A41201; font-size: 15px;">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star" ></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star" ></i>
                                            </div>
                                        
                                        
                                    </div>

                                   
                                    <div class="mt-1">
                                        <span style="color:#A41201; font-size: 15px;" id="view_coun_city"><i class="pl-5 pr-5 fa fa-map-marker mb-3" ></i>&nbsp;<i class=" fa fa-map-marker"></i>     </span>
                                    </div>

                                </div>
                                
                                <div class="row">
                                    <div>
                                        <h3 class="golden" style="font-weight: 600; font-size: 26px;" >Golden Paragraph</h3>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div>
                                        <p class="golden-para" style="width: 80%;" id="view_para"></p>
                                    </div>
                                </div>


                        </div>


                    </div>
