


<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>


<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body justify-content-center m-auto" style="height: 100px;">
            <h2 style="color: #383838; font-weight: 400;">There is nothing to display here yet!</h2>
            <p style="text-align: center;">You can go to your <a href="">profile</a> page</p>
        </div>

        <img src="../public/vendors/img/nothing-here2.png">

    </div>
</div>











<% include ./layout/footer-public.ejs %>