

 <div class="row mb-5 main-profile-page" id="show-education">

    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <div class="row justify-content-between education-profile">
                        <div>
                            <h3 class="edu">Education</h3>
                        </div>

                    </div>
                    <hr>

                   

                    <div class="row profile-experience ">

                        <span>
                            <h4 style="font-size: 20px;">No education added </h4>
                        </span>
                       
                    </div>
                    <hr>


                    <div class="row justify-content-center mt-5">
                        <h5 class="edu-icon" style="color: #0c4767; font-size: 20px; font-weight: 500; cursor: pointer;" id="btnToggleAddEdu">Add new education</h5>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>