<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>
<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); opacity: 0.7; ">
    <div class="container" style="padding:123px";>
    <h1 style="font-size: 100px; color: #fff;">COMING SOON...</h1>
    </div>
</div>

<% include ./layout/footer-public.ejs %>
