



    <div class="row" id="show-education">
        <div class="col-lg-8 col-md-8 mb-4">
            <div class="accordion" id="accordionExample">
                <div class="card">
    
                    <div id="collapseViewEdu" class="collapse" aria-labelledby="ViewEducation" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-body">
            
                                <input type="text" value=""  id="EducationId" hidden>
        
                                <div class="card mb-3 show-delete-button " style="box-shadow: none; border: none;">
        
                                    <div class="card-body viewing-education ">
                                        <div class="row  ">
        
                                            <div class="profile-uni-details">
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="view_degree" style="font-size: 20px;">Bachelors Degree in Computer Science</span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="view_uni" style="font-size: 20px;">University of Cape Coast</span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div>
                                                        <span  id="view_coun" style="font-size: 20px;">Ghana</span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                
                                        </div>
        
                                        <div class="row justify-content-end">
                                            <i class="fa fa-edit mr-3 mt-3 show-delete edu-icon" id="faEduEdit"></i>
                                            <i class="fa fa-trash mr-3 ml-3 mt-3 show-delete" id="faEduDelete"></i>
                                        </div>
                                    </div>
                                </div>
                            
        
                                <div class="card-footer bg-white">

                                    <div class="row justify-content-start" >
                                        <h4 style="color: #A41201;">1</h4>
                                        <h4 class="ml-2" style="color: #A41201;">more</h4>
                                    </div>

                                    <div class="row justify-content-center  mt-3">
                                        <h5 class="edu-icon" style="color: #0c4767; font-size: 20px; font-weight: 400; cursor: pointer;">Add new education</h5>
                                    </div>
                                </div>
                                
                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>

    

    
