<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>



<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

        <div class="card-body">
            <div class="row  ">
                                    
                <div class="profile-uni-details">
                    <div class="row mb-2">
                        <div>
                            <span class=""  id="view_degree" style="font-size: 20px;"><i style="color: #A41201;" class=" fa fa-graduation-cap mr-3"></i>
                                Bachelors Degree</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div>
                            <span  id="view_uni" style="font-size: 20px;"><i style="color: #A41201;" class=" fa fa-university mr-3"></i>
                                UCC</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div>
                            <span  id="view_coun" style="font-size: 20px;"><i style="color: #A41201;" class=" fa fa-map-marker ml-2 mr-4"></i>
                                Ghana</span>
                        </div>
                    </div>
                    
                </div>
    
            </div>
        </div>
        
      </div>
    </div>
    
  </div>





















<% include ./layout/footer-public.ejs %>