<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/profile_style.css" />

<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/analog-camera-behind-computer-laptop-3773401.jpg'); padding-bottom: 670px; padding-top: 80px ">

    <div class="container" style="width: fit-content; height: max-content;">
            <div class="col-md-12">
                <div class="text-center justify-content-center">
                    <h2 style="color: #fff;">Add Profile</h2>
                    <p class="text-center " style="color: #fff;">Let clients know about your business. Complete your profile to get started on Connect</p>
                </div>
            </div>
            


    <div class="col-md-12">
        <div class="card justify-content-center">
            <div class="card text-white mb-3">

                <div class="card-header justify-content-center mb-3" style="background-color: #0c4767; height: 50px; padding: 0">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <p class="nav-item nav-link mr-5 ml-5 text-muted " id="nav-home-tab">Personal Details</a>
                            <p class="nav-item nav-link mr-5 ml-5 active " id="nav-contact-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Portfolio</a>
                            <p class="nav-item nav-link mr-5 ml-5 text-muted" id="nav-contact-tab" aria-selected="false">Skills & Certificate</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form action="/user/add-portfolio" method="POST" enctype="multipart/form-data" class="form-row">
                                <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=userAccount.user_account_id%>" hidden><br />
                                <div class="card-business ml-3 mt-1" >

                                    <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                                        <%if(user.picture!==null){%>
                                        <div class="col-md-3 mt-5">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img class="image-border" src="../../vendors/img/portfolio.png" alt="Profile Photo" id="portfolio-profile1" width="120" height="120">
                                                </div>
                                            </div>
                                            <div class="row m-auto">
                                                <div class="col-md-12 mt-3" style="color:#0C4767;">
                                                    <label class="" >
                                                        <input hidden type="file" id="picture" name="picture" onchange="portfolioProfile1(this)" value="Add Photo" accept="image/*">
                                                        Upload picture
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <% }else{ %>
                                            <div class="col-md-3 mt-5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <img class="image-border" src="../../vendors/img/portfolio.png" alt="Profile Photo" id="portfolio-profile1" width="120" height="120">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="color:blue;">
                                                        <label class="" >
                                                            <input hidden type="file" id="picture" name="picture" onchange="portfolioProfile1(this)" value="Add Photo" accept="image/*">
                                                            Upload picture
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %> 

                                        <div class="col-md-9">

                                            <div class="form-row mt-4">
                                                <div class="form-group col-md-12">
                                                    <label for="title">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title" placeholder="Eg: E-Commerce Website" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="description">Description</label>
                                                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Project Description here..."></textarea>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="projectLinks">Project Link</label>
                                                    <input type="text" class="form-control" id="projectLinks" name="projectLinks" placeholder="Eg: www.connect.org">
                                                </div>
                                            </div>

                                            <!-- <div class="accordionButton" id="accordionButton" style="display: block;">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <p style="color: #0c4767" class="portfolio-accordion"><i class="fa fa-plus-circle"></i>  <a onclick="secondPortfolio()">Add another portfolio</a></p>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="form-row">
                                            <a href="/user/complete-individual-freelancer-profile" class="btn btn-link" style="text-decoration: underline; color: #0C4767;font-size: medium;">Back</a> 
                                            
                                                <button type="submit" name="save" class="form-control profile-btn mb-5 mt-2" style="margin-left: 300px; ">Save & Continue</button>
                                            
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <%include ../layout/footer-public.ejs %>