

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/admin-sidebar.css" />


 <!-- The sidebar -->
 <div class="sidebar">

    <div class=" text-center">
        <img src='../../vendors/img/2.jpg' class="sidebar-img img-fluid im-responsive mr-5" alt="...">
    </div>



    <a class="active" href="#"><span><i class="fa fa-columns mr-3 "></i></span>Dashboard</a>
    <a href="#"><span><i class="fa fa-users mr-3 "></i></span>Users</a>
    <a href="#"><span><i class="fa fa-list mr-3 "></i></span>Job Categories</a>
    <a href="#"><span><i class="fa fa-credit-card mr-3 "></i></span>Payment</a>
    <a href="#"><span><i class="fa fa-question-circle mr-3 "></i></span>Support</a>
  </div>
  
  
  