<style>
    .sub-button{
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #A41201;
        padding: 5px 5px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        background-color: #A41201;
        margin-right: 5px;
        margin-left: 100px ;
        width: 100px;
    }
    .sub-textfield{
        outline: none;
        border: none;
        padding-left:10px;
        width: auto;
       
    }
 
</style>
<footer class="ps-footer footer-position">
    <div class="container">
        <div class="d-flex justify-content-between" style="padding-bottom: 10px;">
            <div class="mt-5">
                <a class="ps-logo" href="/coming-soon"><img src='../../vendors/img/logo-email-template.svg' width="150px" height="30px" alt="Connect Logo" ></a>
            </div> 
            <div class=""> 
                <label><h3 class="ml-3" style="color: white;" >Subscribe to our newsletter</h3></label>
                <div class="ml-3" style="color: white; background-color: white; height: 40px; padding-top: 6px;">
                   <form>
                    <input type="text"  placeholder="Enter email address here ...." class="sub-textfield">
                    <input type="button" class="sub-button" value="SUBSCRIBE">
                    </form>
                </div>
            </div>            
        </div>
    </div>
    <div class="container justify-content-between">
        <div class="ps-footer__bottom">
                <figure>
                    <ul class="ps-footer__nav" style="padding-top: 10px">
                        <li ><a href="#" > Privacy Policy</a></li>
                        <li><a href="#"> Terms and Conditions</a></li>
                        <li><a href="#"> FAQs</a></li>
                        <li ><a href="#"> Support</a></li>
                    </ul>
                </figure>
                <figure>
                    <ul class="ps-list--social" style="padding-top: 10px;">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </figure>
        </div>
        <p style="text-align: center;">&copy; 2020 <a href="#" style="text-decoration: underline;">Connect</a> - All Rights Reserved. Made by <a href="#" style="text-decoration: underline;">AmaliTech Services</a></p>
    </div>

</footer>



<div id="back2top"><i class="pe-7s-angle-up"></i></div>
<!-- <div class="ps-site-overlay"></div>
<div id="loader-wrapper">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div> -->
<div class="ps-search" id="site-search"><a class="ps-btn&#45;&#45;close" href="#"></a>
    <div class="ps-search__content">
        <form class="ps-form&#45;&#45;primary-search" action="do_action" method="post">
            <input class="form-control" type="text" placeholder="Search for..." />
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>


<script src="/js/jquery.min.js"></script>
<!-- <script src="/vendors/plugins/jquery-1.12.4.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>  
<!-- <script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<!-- <script src="/vendors/plugins/owl-carousel/owl.carousel.min.js"></script> -->
<script src="/vendors/plugins/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/plugins/masonry.pkgd.min.js"></script>
<!-- <script src="/vendors/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script> -->
<script src="/vendors/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- <script src="/vendors/plugins/select2/dist/js/select2.full.min.js"></script> -->
<!-- <script src="/vendors/plugins/anime.min.js"></script> -->
<!-- <script src="/vendors/plugins/wow.min.js"></script> -->
<script src="/vendors/js/main.js"></script>


<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/main.js"></script>

<!-- DataTables -->
<script src="/js/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatables/export/dataTables.buttons.min.js"></script>
<script src="/js/datatables/export/buttons.html5.min.js"></script>
<script src="/js/datatables/export/buttons.print.min.js"></script>
<script src="/js/datatables/export/buttons.flash.min.js"></script>
<script src="/js/datatables/export/pdfmake.min.js"></script>
<script src="/js/datatables/export/jszip.min.js"></script>
<script src="/js/datatables/export/vfs_fonts.js"></script>



<script src="/jscontroller/profile.js"></script>
<script src="/jscontroller/completeProfile.js"></script>
<script src="/jscontroller/test.js"></script>
<script src="/jscontroller/singleJob.js"></script>
<script src="/jscontroller/singleJobBusiness.js"></script>
<script src="/jscontroller/jobtable.js"></script>
<script src="/jscontroller/withdrawJobApplication.js"></script>
<script src="/jscontroller/education.js"></script>
<script src="/jscontroller/experience.js"></script>
<script src="/jscontroller/certification.js"></script>



<script src="/vendors/js/moment.js"></script>
<script src="/vendors/js/profileUpload.js"></script>
<script src="/vendors/js/tags.js"></script>
<script src="/vendors/js/dashboard.js"></script>
<script src="/vendors/js/bundle.min.js"></script>



<script src="/vendors/js/category.js"></script>
<script src="/vendors/js/specificFreelancers.js"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ef9f58d4a7c6258179b8bbd/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->



</body>

</html>
