<header class="header header--2 dark page" data-sticky="true">
    <div class="header__left">
        <a class="ps-logo" href="/coming-soon"><img src="/vendors/img/logo-nav-edited.svg" width="200px" height="90px" alt="Connect Logo" ></a>

    </div>  
    <div class="header__right">
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="/">Home</a><span class="sub-toggle"></span></li>
            <li class="menu-item-has-children"><a href="/coming-soon">About</a><span class="sub-toggle"></span></li>
            <li class="menu-item-has-children"><a href="/signup">Sign Up</a><span class="sub-toggle"></span></li>

        </ul>
    </div>
</header>
<header class="header header--mobile" data-sticky="false">
    <div class="header__content">
        <div class="header__left"><a class="ps-toggle--sidebar" href="#navigation-mobile"><i class="fa fa-bars"></i></a>
        </div>
        <div class="header__center"><a class="ps-logo" href="#"><img src="/vendors/img/logo-nav2.svg" width="150px"
                    height="70px" alt="Connect Logo"></a>
        </div>
        <!-- <div class="header__right">
             <div class="header__actions"><a class="ps-search-btn" href=""><i class="fa fa-search"></i></a></div> 
        </div> -->
    </div>
</header>
<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
        <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</div>
